.image-container, .galleries-container{
    padding: 12px 12px;
    float: right;
    width: 33.33%;
}

@media only screen and (max-width: 700px) {
    .image-container, .galleries-container {
        padding: 6px 6px;
    }
}

@media only screen and (max-width: 600px) {
    .image-container, .galleries-container {
        padding: 3px 3px;
    }
}

@media only screen and (max-width: 500px) {
    .image-container, .galleries-container {
        padding: 1px 1px;
    }
}



.images-container{
    width: 68%;
    padding: 12px 12px;
    margin-bottom: 30px;
}

.galleries-section{
    background-color: white;
    padding: 25px 6px;
}

.image-section{
    position: relative;
}

.my-img{
    object-fit: cover;
    width: 100%;
    height: 285px;
}

@media only screen and (max-width: 1100px) {
    .my-img{
        height: 240px;
    }
}

@media only screen and (max-width: 920px) {
    .my-img{
        height: 215px;
    }
}

@media only screen and (max-width: 800px) {
    .my-img{
        height: 190px;
    }
}

@media only screen and (max-width: 550px) {
    .my-img{
        height: 150px;
    }
}

@media only screen and (max-width: 400px) {
    .my-img {
        height: 100px;
    }
}

@media only screen and (max-width: 260px) {
    .my-img {
        height: 50px;
    }
}



.image-overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: .5s ease;
    background-color: black;
    border-radius: 4.6px;
    color:white;
    text-align: center;
    padding: 3px;
}

.text-heart {
    position: absolute;
    color:white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


#my-gallery:hover .image-overlay{
    opacity: 1;
}

#my-images:hover .image-overlay{
    opacity: 0.45
}


.no-image{
    width: 68%;
    background-color: white;
    color: grey;
    text-align: center;
    padding: 27px 13px;
    margin:0 auto;
}


.all-img{
    width: 100%;
    max-height: 500px;
    min-height: 60px;
}


.all-galleries{
    width: 68%;
    background-color: white;
    padding: 15px;
    margin-bottom: 30px;
}

.all-gallery{
    width: 68%;
    background-color: white;
    padding: 3px 0;
    margin-bottom: 30px;
}


.all-galleries .gallery-name{
    text-decoration: none;
    color: black;
}




.add{
    position: fixed;
    z-index: 3;
    bottom: 50px;
    right: 50px;
}

.add i{
    color: #cecccc;
    background-color: white;
    padding: 4px;
    border-radius: 50%;
}



#add-image{
    max-height: 150px;
    overflow: hidden;
}


#heart-like{
    cursor: pointer;
}