.login{
    position: relative;
    top: 0;
    margin: 0 auto;
    text-align: left;
    padding:40px 34px;
    background-color: white;
    border: 1.2px solid #dbdbdb;
    width: 40%;
}

.login h2{
    font-family: 'Satisfy', cursive;
    text-decoration: none;
    color: rgba(40, 40, 40, 0.91);
    display: none;
}

.login form {
    padding-top: 33px;
}

.login form input{
    background-color: rgb(245, 245, 245);
    border: #dbdbdb solid 1.2px;
    font-size: small;
}

.login button{
    background-color: #0095f6;
    color:white;
    margin-top: 15px;
    font-size: small;
}

.login button:hover{
    color:white;
}

.login-2{
    margin-top: 18px;
    padding:12px 34px;
    background-color: white;
    border: 1.2px solid #dbdbdb;
    text-align: center;
    width: 40%;
}

@media (max-width: 620px) {
    .login, .login-2 {
        width: 55%;
    }
}

@media (max-width: 400px) {
    .login, .login-2{
        width: 100%;
        background-color: #f7f7f7;
        border: 0;
    }
}


@media (max-width: 400px) {
    .login{
        top: -35px;
    }
}