@font-face {
    font-family: "BYekan";
    src: url("../fonts/BYekan-webfont.eot") format("eot"),
    url("../fonts/BYekan-webfont.woff") format("woff"),
    url("../fonts/BYekan-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "BYekan" !important;
    background-color: #f7f7f7;
}

* {
    box-sizing: border-box;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}


.mainNav{
    background-color:white;
    color:black;
    border-bottom: 1px solid #dbdbdb;
    padding:5px 20px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 3;
}

.main-container {
    width: 100%;
    padding: 80px 130px;
    margin: 0 auto;
}

@media (max-width: 1000px) {
    .main-container {
        padding:80px 70px;
    }
}

@media (max-width: 850px) {
    .main-container {
        padding:80px 15px;
    }
}

@media (max-width: 580px) {
    .main-container {
        padding:80px 1px;
    }
}




.activeLink{
    font-weight:bold;
}


.margin-top-lg{
    margin-top: 80px;
}

.margin-top-sm{
    margin-top: 25px;
}

.rel-position{
    position: relative;
}



.profile-photo{
    padding: 0 20px;
}

@media (min-width: 580px) {
    .profile-photo {
        font-size: 30px;
    }
}

@media (max-width: 200px) {
    .profile-photo {
        font-size: 10px;
    }
}

.profile-name{
    padding: 9px 0;
}

@media (min-width: 580px) {
    .profile-name {
        padding: 20px 0;
        font-size: 20px;
    }
}

@media (max-width: 200px) {
    .profile-name {
        padding: 4px 0;
        font-size: 8px;
    }
}