body {
  margin: 0;
  padding: 0; }

.slide-container {
  width: 94%;
  height: 500px;
  margin: auto; }

.each-back{
  /*background-image: url("photographer.jpg"); !* The image used *!*/
  background-color: darkkhaki;
  border: goldenrod double 3px;
  width: 100%;
  height: 385px;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  background-size: 100% 100%;

}
h3 {
  text-align: center; }

.each-slide > div {
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 100% 100%;
}

.each-img{
  height:100%;
  width:90%
}

.each-span {
  text-align: center;
  justify-content:center;
  margin-bottom: 26%;
  padding: 20px;
  font-family: "Comic Sans MS";
  font-size: 37px;
  opacity: 0.5;
  background: #efefef;
  text-align: center;
}

.each-fade {
  display: flex;
}

.each-fade .image-container {
  width: 75%;
  overflow: hidden;
}

.each-fade .image-container img {
  width: 100%;
}

.each-fade h2 {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background: #adceed;
}.react-slideshow-container {
  display: flex;
  align-items: center;
}

.react-slideshow-container .nav {
  height: 30px;
  background: rgba(255, 255, 255, 0.6);
  width: 30px;
  z-index: 10;
  text-align: center;
  cursor: pointer;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.react-slideshow-container .nav span {
  display: block;
  width: 10px;
  height: 10px;
  border-color: #000;
  border-style: solid;
  transform: rotate(45deg);
}

.react-slideshow-container .nav.disabled span {
  border-color: #666;
}

.react-slideshow-container .nav:hover {
  background: white;
  color: #666;
}

.react-slideshow-container .nav.disabled:hover {
  cursor: not-allowed;
}

.react-slideshow-container .nav:first-of-type {
  margin-right: -30px;
  border-right: none;
  border-top: none;
}

.react-slideshow-container .nav:first-of-type span {
  margin-left: 5px;
  border-right: none;
  border-top: none;
}

.react-slideshow-container .nav:last-of-type {
  margin-left: -30px;
}

.react-slideshow-container .nav:last-of-type span {
  margin-right: 5px;
  border-left: none;
  border-bottom: none;
}

.react-slideshow-container + div.indicators {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.react-slideshow-container + div.indicators > div {
  width: 7px;
  height: 7px;
  margin-right: 10px;
  border-radius: 50%;
  background: #ccc;
  cursor: pointer;
}

.react-slideshow-container + div.indicators > div:hover {
  background: #666;
}

.react-slideshow-container + div.indicators > div.active {
  background: #000;
}

.react-slideshow-container + div.indicators > div:last-of-type {
  margin-right: 0;
}
.react-slideshow-wrapper.slide {
  width: 100%;
  overflow: hidden;
}

.react-slideshow-wrapper .images-wrap {
  display: flex;
  flex-wrap: wrap;
}
.react-slideshow-fade-wrapper {
  width: 100%;
  overflow: hidden;
}

.react-slideshow-fade-wrapper .react-slideshow-fade-images-wrap {
  display: flex;
  flex-wrap: wrap;
}

.react-slideshow-fade-wrapper .react-slideshow-fade-images-wrap > div {
  position: relative;
  opacity: 0;
}
.react-slideshow-zoom-wrapper {
  width: 100%;
  overflow: hidden;
}

.react-slideshow-zoom-wrapper .zoom-wrapper {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.react-slideshow-zoom-wrapper .zoom-wrapper > div {
  position: relative;
  display: flex;
}
